/* fonts */
.montserrat {
  font-family: "Montserrat", sans-serif;

  font-style: normal;
}

body {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
}

.backgroundImg {
  background-image: url(./assets/products-page/bg.png);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  user-select: none;
}

/* swiper style */

.swiper {
  width: 400px;
  height: 600px;
}

.swiper-slide {
  width: 380px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sccoter-swiper-slide {
  width: 380px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #f12b00 !important;
  width: 400px !important;
}
